<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talentos do Bairro</title>
 

    <!--responsivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="font-family: Georgia, 'Times New Roman', Times, serif;background-color: rgba(126, 223, 188, 0.2);">
    <!-- barra de navegação -->

    <nav class="navbar fixed-top" style="height:80px; background-color: #2e2e2e">
       <div class="container">
         <em>
           <a class="navbar-brand" style="font-size: 36px; color: #ffffff;"href="#">Talentos do bairro</a>
           <a style="font-size:18px;color: #ffffff;margin-left: 430px;">Se já é cadastrado, entre aqui</a>
            </em>
           <form action="/entrar" method="POST"> 
           <button type="submit" class="btn shadow badge-pill"style="font-size: 24px;background-color: #7edfbc;"><em>Entrar</em></button>            

           </form> 
       </div>
       
      </nav>

    <div class="container " style="padding:70px;font-size: 24px;">
        <div class="row">
                   <!-- logotb -->
    <div class="col-sm" style="padding-top: 109px;">
        <img src="static/logotb.png" class="justify-content-center" alt="...">
    </div>

    <div  class=" col-sm" style="margin-top: 261px;">
        <a >
            <em>Talentos do bairro é um site para ajudar a
            divulgação de  profissionais prestadores de serviços
            disponíveis<br> do bairro, para os moradores que
            precisam de um prestador de serviços.
            Sem sair de casa.</em>
        </a>
    </div>
        </div>
    
    </div>
     
    
    <!-- Formulario cadastro -->
    <center>
    <div style="margin-top:50px;margin-left:400px;font-size: 24px;">
        <form>
        <a><em>Cadastrar</em></a><br><br>
        <div class="form-group ">
          <input type="text" class="form-control col-4" id="exampleInputNome"  placeholder="Nome">
         </div>
        <div class="form-group">
          <input type="text" class="form-control col-4" id="exampleInputBairro" placeholder="Bairro">
        </div>
        <div class="form-group">
            <input type="number" class="form-control col-4" id="exampleInputTelefone" placeholder="Telefone">
          </div>
          <div class="form-group">
            <input type="password" class="form-control col-4" id="exampleInputSenha" placeholder="Senha">
          </div>
        <div class="form-check" style="font-size: 13px;">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Autorizo a divulgação dos meus dados nesse site</label>
        </div><br>
        
        </form> 
        
    <!-- Botão Continuar -->
        <form action="/continuar" method="POST"> 
        <button type="submit"  class="btn shadow badge-pill" style="font-size: 24px;background-color:#7edfbc;color: black;"><em>Continuar</em></button>
        </form>
    </div>  
   </center>


   
      



        <!-- rodape -->
        <footer class="footer py-3" style="margin-top: 150px;margin-bottom: 0px; background-color:#2e2e2e; color:#ffffff; height:200px">
         <br>
         <div class="container" style="font-size: 13px;">
         <div class="row">
         <div class="col-sm" style="margin-top:40px">
             <a>Aplicação Web apresentado na disciplina de<br>
            Projeto Integrador I para o curso de Graduação - Eixo da<br>
            Computação da Universidade Virtual do Estado de São<br>
            Paulo (UNIVESP). São Paulo - SP 2021</a>
         </div>
          <div class="col-sm "style="margin-left:100px; margin: bottom 5px;" >
             <a >
            Maicon Almeida Silva, RA: 2004746<br>
            Elias dos Santos Silva, RA: 2010153<br>
            Jailson Lopes Farias, RA: 1705990<br>
            Nunes Marinho Pantaleão, RA: 2011900<br>
            Weld Martins Gomes, RA: 2014231<br>
            Ezio Vicente de Paula, RA: 2002118</a>
         </div> 
        
        <img src="static/Logo_univesp 1.png" class=" col-2" style="margin-top:40px;height:60px;"alt="...">
        <br><br><br>
        
   

<!-- Inicia codigo Contador -->
<div align="center"><a title='Contador de Visitas do MegaContador' href='https://megacontador.com.br/' ><img src='https://megacontador.com.br/img-J6m8Gz4Z8Z4RvHRl-63.gif' border='0' alt='Contador de visitas'></a></div>
<!-- Fim do codigo Contador -->




        </div>
        </div>
        </footer>
    
    
   

    <!--bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>